@page
@model RudysCorner.Website.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
}

<div class="sidenav">
        <a asp-page="CreateTour">Create Tour</a>
        <a asp-page="#">Create POI</a>
        <a asp-page="#">Edit Tour</a>
        <a asp-page="#">Analytics</a>
</div>
<div class="text-body">
    <br />
    <img src="~/img/Admin.jpg" class="img-main">
</div>