@page
@model RudysCorner.Website.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
}

<div class="sidenav">
    <a asp-page="CreateTour">Create Tour</a>
    <a asp-page="#">Create POI</a>
    <a asp-page="#">Edit Tour</a>
    <a asp-page="#">Analytics</a>
</div>

<div class="welcome">

    <div class="main-content row">
        <div class="left-content col-8">
            <h2>Welcome to your tour maker portal!</h2>
            <p>This is where you will make amazing tours. You will really like it. There are many ways to create. This is filler text for now. Each point-of-interest you make will be awesome. Then you can put all of these into your favorite tour configuration for prospective students. Wow. Thank you!</p>

            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">Tours</th>
                        <th scope="col">POIs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tour One</td>
                        <td>POI One</td>
                    </tr>
                    <tr>
                        <td>Tour Two</td>
                        <td>POI Two</td>
                    </tr>
                    <tr>
                        <td>Tour Three</td>
                        <td>POI Three</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>