@page
@model RudysCorner.Website.Pages.AnalyticsModel
@{
    ViewData["Title"] = "Analytics";
}

<div class="sidenav">
    <a asp-page="CreateTour">Create Tour</a>
    <a asp-page="#">Create POI</a>
    <a asp-page="#">Edit Tour</a>
    <a asp-page="#">Analytics</a>
</div>

<div>
    <h1 class="display-4">Analytics Page</h1>
</div>
<a asp-page="Admin"><img src="~/img/Analytics.jpg" class="img-main"></a>
