@page
@model RudysCorner.Website.Pages.AnalyticsModel
@{
    ViewData["Title"] = "Analytics";
}

<div>
    <h1 class="display-4">Analytics Page</h1>
</div>
<a href="Admin"><img src="~/img/Analytics.jpg" width="80%"></a>
