@page
@model RudysCorner.Website.Pages.CreateTourModel
@{
    ViewData["Title"] = "Create Tour";
}


<div class="sidenav">
    <a asp-page="#">Create Tour</a>
    <a asp-page="EditPOI">Create POI</a>
    <a asp-page="#">Edit Tour</a>
    <a asp-page="#">Analytics</a>
</div>
<div>
    <h1 class="display-4">Create Tour Page</h1>
</div>
<a asp-page="EditPOI"><img src="~/img/CreateTour.jpg" class="img-main"></a>

<h2>Drag and Drop</h2>
<p>Drag the image back and forth between the two div elements.</p>

<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
    <img src="img_w3slogo.gif" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
</div>

<div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

