@page
@model RudysCorner.Website.Pages.CreateTourModel
@{
    ViewData["Title"] = "Create Tour";
}


<div class="sidenav">
    <a asp-page="#">Create Tour</a>
    <a asp-page="EditPOI">Create POI</a>
    <a asp-page="#">Edit Tour</a>
    <a asp-page="#">Analytics</a>
</div>
<div>
    <h1 class="display-4">Create Tour Page</h1>
</div>
<a asp-page="EditPOI"><img src="~/img/CreateTour.jpg" class="img-main"></a>

<h2>Drag and Drop</h2>
<p>Drag the image back and forth between the two div elements.</p>

<div class="POIList" id="GuidedTour" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

<div class="POIList" id="OtherPOI" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<div class="POIList" id="POILibrary" ondrop="drop(event)" ondragover="allowDrop(event)">
    <img src="~/img/poi.jpg" draggable="true" ondragstart="drag(event)" id="drag1" width="275" height="175">
    <img src="~/img/poi.jpg" draggable="true" ondragstart="drag(event)" id="drag2" width="275" height="175">
</div>

<ul id="sortable1" class="connectedSortable">
    <li class="ui-state-default">Item 1</li>
    <li class="ui-state-default">Item 2</li>
    <li class="ui-state-default">Item 3</li>
    <li class="ui-state-default">Item 4</li>
    <li class="ui-state-default">Item 5</li>
</ul>

<ul id="sortable2" class="connectedSortable">
    <li class="ui-state-highlight">Item 1</li>
    <li class="ui-state-highlight">Item 2</li>
    <li class="ui-state-highlight">Item 3</li>
    <li class="ui-state-highlight">Item 4</li>
    <li class="ui-state-highlight">Item 5</li>
</ul>