@page
@model RudysCorner.Website.Pages.CreateTourModel
@{
    ViewData["Title"] = "Create Tour";
}


<div class="sidenav">
    <a asp-page="CreateTour">Create Tour</a>
    <a asp-page="EditPOI">Create POI</a>
    <a asp-page="EditTour">Edit Tour</a>
    <a asp-page="Analytics">Analytics</a>
</div>
<div class="text-body">
    <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
        <img src="~/img/SUlogo.png" draggable="true" ondragstart="drag(event)" id="drag1" width="160" height="30">
        <img src="~/img/SUlogo.png" draggable="true" ondragstart="drag(event)" id="drag2" width="160" height="30">
    </div>

    <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)">

    </div>

    <div id="div3" ondrop="drop(event)" ondragover="allowDrop(event)">

    </div>
</div>