@page
@model RudysCorner.Website.Pages.CreateTourModel
@{
    ViewData["Title"] = "Create Tour";
}

<div>
    <h1 class="display-4">Create Tour Page</h1>
</div>
<a asp-page="EditPOI"><img src="~/img/CreateTour.jpg" class="img-main"></a>

