@page
@model RudysCorner.Website.Pages.EditTourModel
@{
    ViewData["Title"] = "Edit Tour";
}

<div class="sidenav">
    <a asp-page="#">Create Tour</a>
    <a asp-page="#">Create POI</a>
    <a asp-page="#">Edit Tour</a>
    <a asp-page="Analytics">Analytics</a>
</div>

<div class="edit-tour admin">
    <h1 class="H1">Tour Creation</h1>
    <div>You can click and drag any Point of Interest to any column to change its status in the tour.</div>

    <div class="main-content">
        <div class="row headers">
            <div class="col-sm-4 wrapper"><h2 class="H2">Guided Tour Stops</h2></div>
            <div class="col-sm-4 wrapper"><h2 class="H2">Map Points of Interest</h2></div>
            <div class="col-sm-4 wrapper"><h2 class="H2">Unused Points of Interest</h2></div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <div class="card poi-card" draggable="true" ondragstart="drag(event)" id="drag1">
                        <img class="card-img-top img-fluid" src="~/img/POIs/bannan1.jpg" alt="Bannan edit tour card" />
                        <div class="card-body">
                            <h3 class="card-title">Bannon</h3>
                        </div>
                    </div>
                    <div class="card poi-card" draggable="true" ondragstart="drag(event)" id="drag4">
                        <img class="card-img-top img-fluid" src="~/img/POIs/library2.jpg" alt="Library edit tour card" />
                        <div class="card-body">
                            <h3 class="card-title">Library</h3>
                        </div>
                    </div>
                    <div class="card poi-card" draggable="true" ondragstart="drag(event)" id="drag3">
                        <img class="card-img-top img-fluid" src="~/img/POIs/vihilbert2.jpg" alt="Financial Services edit tour card" />
                        <div class="card-body">
                            <h3 class="card-title">Financial Services</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <div class="card poi-card" draggable="true" ondragstart="drag(event)" id="drag2">
                        <img class="card-img-top img-fluid" src="~/img/POIs/cafeteria1.jpg" alt="Cafeteria edit tour card" />
                        <div class="card-body">
                            <h3 class="card-title">Cafeteria</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div id="div3" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <div class="card poi-card" draggable="true" ondragstart="drag(event)" id="drag5">
                        <img class="card-img-top img-fluid" src="~/img/POIs/eng1.jpg" alt="Engineering edit tour card" />
                        <div class="card-body">
                            <h3 class="card-title">Engineering</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions-area">
            <button>Save</button>
            <input type="text" id="url" name="url" value="https://rudyscorner.azurewebsites.net/EditTour">
            <button>Copy URL</button>
        </div>
    </div>
</div>