@page
@model RudysCorner.Website.Pages.EditTourModel
@{
    ViewData["Title"] = "Edit Tour";
}

<div>
    <h1 class="display-4">Edit Tour Page</h1>
</div>
<a href="Analytics"><img src="~/img/EditTour.jpg" width="80%"></a>
