@page
@model RudysCorner.Website.Pages.EditPOIModel
@{
    ViewData["Title"] = "Edit POI";
}

<div class="sidenav">
    <a asp-page="#">Create Tour</a>
    <a asp-page="#">Create POI</a>
    <a asp-page="EditTour">Edit Tour</a>
    <a asp-page="#">Analytics</a>
</div>
<div class="text-body">
    <h1 class="display-4">Edit POI Page</h1>
    <img src="~/img/EditPOI.jpg" class="img-main">
</div>