@page
@model RudysCorner.Website.Pages.FollowUpModel
@{
    ViewData["Title"] = "FollowUp";
}

<div class="followup">
    <div class="top">
        <a asp-page="/Index">Welcome</a>
        <span class="separator">></span>
        <a asp-page="/PointOfInterest">Tour</a>
        <span class="separator">></span>
        <span class="current">Follow Up</span>
    </div>
    
    <div class="highlights">
        <h1 class="H1">Your Tour Highlights</h1>
        <div class="highlight row">
            <div class="left">
                <img class="thumbnail" src="" />
                <a href="#" onclick="toggleFavorite(event)"><img id="favorite-icon1" class="follow-up-icon" src="~/img/POIs/favorited.png" /></a>
                <a href="#" onclick="shareFavorite(event)"><img id="share-icon1" class="follow-up-icon" src="~/img/POIs/share.png" /></a>
            </div>
            <div class="right">
                <h2>POI 1</h2>
                <p>Brief description</p>
            </div>
        </div>
    </div>
    <div class="share-all">
        <img class="thumbnail" src="~/img/POIs/share.png" />
        <a href="#" onclick="toggleFavorite(event)">Click to share all of your favorited sites as one custom tour</a>
    </div>
    <div class="next-steps">
        <h1 class="H1">Suggested Next Steps</h1>
        <div class="left">
            <img class="thumbnail" src="" />
        </div>
        <div class="right">
            <a href="#" onclick="toggleFavorite(event)">A follow-up suggestion link</a>
            <p>Follow-up instructions</p>
        </div>
    </div>
</div>