@page
@model RudysCorner.Website.Pages.FollowUpModel
@{
    ViewData["Title"] = "FollowUp";
}

<div class="followup">
    <div class="top">
        <a asp-page="/Index">Welcome</a>
        <span class="separator">></span>
        <a asp-page="/PointOfInterest">Tour</a>
        <span class="separator">></span>
        <span class="current">Follow Up</span>
    </div>
    
    <div class="highlights">
        <h1 class="H1">Your Tour Highlights</h1>
        <div class="highlight">
            <div class="left">
                <img class="thumbnail" src="~/img/POIs/bannan1.jpg" />
                <a href="#" class="follow-up-icon" onclick="toggleFavorite(event)"><img id="favorite-icon1" src="~/img/POIs/favorited.png" /></a>
                <a href="#" class="follow-up-icon" onclick="shareFavorite(event)"><img id="share-icon1" src="~/img/POIs/share.png" /></a>
            </div>
            <div class="right">
                <h2>Bannan Engineering</h2>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
            </div>
        </div>
        <div class="highlight">
            <div class="left">
                <img class="thumbnail" src="~/img/POIs/vihilbert2.jpg" />
                <a href="#" class="follow-up-icon" onclick="toggleFavorite(event)"><img id="favorite-icon1" src="~/img/POIs/favorited.png" /></a>
                <a href="#" class="follow-up-icon" onclick="shareFavorite(event)"><img id="share-icon1" src="~/img/POIs/share.png" /></a>
            </div>
            <div class="right">
                <h2>Bannan Engineering</h2>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
            </div>
        </div>
    </div>
    <div class="share-all">
        <img class="icon" src="~/img/POIs/share.png" />
        <a href="#" onclick="toggleFavorite(event)">Click to share all of your favorited sites as one custom tour</a>
    </div>
    <div class="next-steps">
        <h1 class="H1">Suggested Next Steps</h1>
        <div class="next-step clearfix">
            <img class="next-step-img" src="~/img/FollowUp/advisor.png" />
            <div class="right">
                <a href="#" onclick="toggleFavorite(event)">Make an appointment with an advisor</a>
                <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
            </div>
        </div>
        <div class="next-step clearfix">
            <img class="next-step-img" src="~/img/FollowUp/calendar.png" />
            <div class="right">
                <a href="#" onclick="toggleFavorite(event)">Discover campus events!</a>
                <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
            </div>
        </div>
        <div class="next-step clearfix">
            <img class="next-step-img" src="~/img/FollowUp/club.png" />
            <div class="right">
                <a href="#" onclick="toggleFavorite(event)">Try joining the CS club!</a>
                <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
            </div>
        </div>
    </div>
</div>