@page
@model ContosoCrafts.WebSite.Pages.IndexModel
@{
    ViewData["Title"] = "Welcome page";
}

<div class="welcome">
    <div class="background-image">
        <h1 class="main-title"><span>WELCOME</span><br />TO THE SEATTLE UNIVERSITY COMPUTER SCIENCE DEPARTMENT VIRTUAL TOUR!</h1>
        <img src="~/img/welcome_background.png" class="img-main" alt="Welcome image with students and campus" />
    </div>
    <div class="main-content row">
        <div class="left-content col-8">
            <h2>Explore from the comfort of your own home</h2>
            <p>This is an amazing tour. You will really like it. There are many things to see. This is filler text for now. Each point-of-interest will be awesome. You can favorite any POI. You can share any POI. Wow. At the end of the tour, you can share your whole collection of favorites. We will suggest next steps. Thank you!</p>
            <div class="button-wrapper">
                <a asp-page="PointOfInterest">BEGIN YOUR TOUR</a>
            </div>
            <div class="background-video">
                <iframe frameborder="0" allowfullscreen src="https://youtube.com/embed/9kb8suaN5j0?autoplay=1&controls=0&showinfo=0&autohide=1&mute=1">
                </iframe>
            </div>
        </div>
        <div class="side-content col-4">
            <h2>Frequently Asked Questions</h2>
            <p class="question">Question 1</p>
            <p class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse erat lectus, sodales non aliquam a, finibus nec purus.</p>
            <p class="question">Question 2</p>
            <p class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse erat lectus, sodales non aliquam a, finibus nec purus.</p>
            <p class="question">Question 3</p>
            <p class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse erat lectus, sodales non aliquam a, finibus nec purus.</p>
            <p class="question">Question 4</p>
            <p class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse erat lectus, sodales non aliquam a, finibus nec purus.</p>
            <p class="question">Question 5</p>
            <p class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse erat lectus, sodales non aliquam a, finibus nec purus.</p>
        </div>
    </div>
</div>