@page
@model ContosoCrafts.WebSite.Pages.IndexModel
@{
    ViewData["Title"] = "Welcome page";
}

<div class="welcome">
    <div class="background-video" style="position: fixed; z-index: -99;">
        <h1 class="main-title">WELCOME TO THE SEATTLE UNIVERSITY COMPUTER SCIENCE DEPARTMENT VIRTUAL TOUR!</h1>
        <iframe frameborder="0" height="100%" width="100%"
                src="https://youtube.com/embed/9kb8suaN5j0?autoplay=1&controls=0&showinfo=0&autohide=1&mute=1">
        </iframe>
    </div>
    <div class="main-content row">
        <div class="left-content col-8">
            <h2>Explore from the comfort of your own home</h2>
            <p>This is an amazing tour. You will really like it. There are many things to see. This is filler text for now. Each point-of-interest will be awesome. You can favorite any POI. You can share any POI. Wow. At the end of the tour, you can share your whole collection of favorites. We will suggest next steps. Thank you!</p>
        </div>
        <div class="side-content col-4">
            <h2>Frequently Asked Questions</h2>
            <p class="question">Question 1</p>
            <p class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse erat lectus, sodales non aliquam a, finibus nec purus. Ut placerat eros vel tortor consequat congue nec et diam. Sed ultricies pretium sodales. Curabitur a diam accumsan, accumsan leo a, auctor est. Sed nec velit et elit bibendum mattis vel non nisi. Sed vulputate dolor eu ipsum pharetra semper. Vivamus ut rhoncus sapien. Nam vel justo nec felis egestas fermentum.</p>
            <p class="question">Question 2</p>
            <p class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse erat lectus, sodales non aliquam a, finibus nec purus. Ut placerat eros vel tortor consequat congue nec et diam. Sed ultricies pretium sodales. Curabitur a diam accumsan, accumsan leo a, auctor est. Sed nec velit et elit bibendum mattis vel non nisi. Sed vulputate dolor eu ipsum pharetra semper. Vivamus ut rhoncus sapien. Nam vel justo nec felis egestas fermentum.</p>
            <p class="question">Question 3</p>
            <p class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse erat lectus, sodales non aliquam a, finibus nec purus. Ut placerat eros vel tortor consequat congue nec et diam. Sed ultricies pretium sodales. Curabitur a diam accumsan, accumsan leo a, auctor est. Sed nec velit et elit bibendum mattis vel non nisi. Sed vulputate dolor eu ipsum pharetra semper. Vivamus ut rhoncus sapien. Nam vel justo nec felis egestas fermentum.</p>
            <p class="question">Question 4</p>
            <p class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse erat lectus, sodales non aliquam a, finibus nec purus. Ut placerat eros vel tortor consequat congue nec et diam. Sed ultricies pretium sodales. Curabitur a diam accumsan, accumsan leo a, auctor est. Sed nec velit et elit bibendum mattis vel non nisi. Sed vulputate dolor eu ipsum pharetra semper. Vivamus ut rhoncus sapien. Nam vel justo nec felis egestas fermentum.</p>
            <p class="question">Question 5</p>
            <p class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse erat lectus, sodales non aliquam a, finibus nec purus. Ut placerat eros vel tortor consequat congue nec et diam. Sed ultricies pretium sodales. Curabitur a diam accumsan, accumsan leo a, auctor est. Sed nec velit et elit bibendum mattis vel non nisi. Sed vulputate dolor eu ipsum pharetra semper. Vivamus ut rhoncus sapien. Nam vel justo nec felis egestas fermentum.</p>
        </div>
    </div>
</div>