@page
@model ContosoCrafts.WebSite.Pages.IndexModel
@{
    ViewData["Title"] = "Welcome page";
}

<div>
    <h1 class="main-title">Welcome to the Seattle University Computer Science Department Virtual Tour!</h1>
</div>
<a asp-page="PointOfInterest"><img src="~/img/welcome.jpg" class="img-main"></a>