@page
@model RudysCorner.Website.Pages.PointOfInterestModel
@{
    ViewData["Title"] = "PointOfInterest";
}

<div class="poi">
    <div class="top row">
        <div class="flow col-6">
            <a asp-page="/Index">Welcome</a>
            <span class="separator">></span>
            <span class="current">Bannan Engineering</span>
        </div>
        <div class="icon-actions col-6">
            <a href="your link here"><img class="poi-icon" src="~/img/POIs/not-favorited.png" /></a>
            <a href="your link here"><img class="poi-icon" src="~/img/POIs/share.png" /></a>
            <a asp-page="/PointOfInterest"><img class="poi-icon" src="~/img/POIs/skip.png" /></a>
        </div>
    </div>
    <h1 class="poi-name">Point Of Interest Page</h1>
    <div class="row">
        <div class="left-content col-8">
            <img class="img-main" src="~/img/POIs/vihilbert1.jpg" />
            <div class="description"></div>
        </div>
        <div class="right-content col-4">
            <div class="faq"></div>
            <img class="map" src="~/img/POIs/SU_map_labelled1.png" />
        </div>
    </div>
</div>