@page
@model RudysCorner.Website.Pages.PointOfInterestModel
@{
    ViewData["Title"] = "PointOfInterest";
}

    <div class="poi">
        <div class="left-content">
            <div class="flow"></div>
            <h1 class="display-4">Point Of Interest Page</h1>
            <img class="img-main" src="" />
            <div class="description"></div>
        </div>
        <div class="right-content">
            <div class="icon-actions">
                @*Favorite
                Share
                Skip*@
            </div>
            <div class="faq"></div>
            <img class="map" src="" />
        </div>
    </div>