@page
@model RudysCorner.Website.Pages.PointOfInterestModel
@{
    ViewData["Title"] = "PointOfInterest";
}

<div class="poi">
    <div class="top row">
        <div class="flow col-6">
            <a asp-page="/Index">Welcome</a>
            <span class="separator">></span>
            <span class="current">Bannan Engineering</span>
        </div>
        <div class="icon-actions col-6">
            <a href="#"><img class="poi-icon" src="~/img/POIs/not-favorited.png" /></a>
            <a href="#"><img class="poi-icon" src="~/img/POIs/share.png" /></a>
            <a asp-page="/PointOfInterest"><img class="poi-icon" src="~/img/POIs/skip.png" /></a>
        </div>
    </div>
    <h1 class="poi-name">Bannan Engineering</h1>
    <h2 class="sub-title">The home of computer science classrooms</h2>
    <div class="row">
        <div class="left-content col-8">
            <img class="img-main" src="~/img/POIs/bannan1.jpg" />
            <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi enim tortor, viverra nec suscipit commodo, pellentesque at dolor. Cras luctus vestibulum massa sed interdum. Phasellus eu arcu vel nulla efficitur efficitur. Vestibulum interdum, sem nec laoreet suscipit, felis sem congue nunc, ut accumsan lectus arcu a ipsum. Nulla consequat pretium magna sed luctus. Vivamus tempor neque velit, quis rhoncus quam efficitur non. Fusce ut nunc at ipsum vestibulum sollicitudin. Maecenas et felis ut augue imperdiet commodo at eget odio. Mauris vitae dui rutrum, pretium lorem ac, congue orci. Maecenas quis tristique mauris. Nam ultricies dapibus tortor, a maximus libero tempor ut. Nullam interdum bibendum metus eu ullamcorper. Maecenas egestas tristique est, vitae rutrum turpis molestie eget. Aliquam erat volutpat.
                <br />
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Phasellus ut finibus nulla, a scelerisque metus. Praesent iaculis justo sit amet mauris tincidunt, placerat consequat lacus pharetra. Sed iaculis vehicula feugiat. Integer non nisi nec nulla finibus volutpat. Vivamus scelerisque aliquam sem, vitae scelerisque lacus sagittis mattis. Nam quis dictum eros, in consectetur risus. Suspendisse condimentum velit non rhoncus sodales. Nunc non euismod tortor. Sed ex dolor, viverra sit amet ex quis, hendrerit elementum ipsum.
            </div>
        </div>
        <div class="right-content col-4">
            <img class="map" src="~/img/POIs/SU_map_labelled1.png" />
            <div class="faq">
                <div class="accordion pull-right" id="accordionExample">
                    <div class="card faq-title">
                        Frequently Asked Questions
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    What is some interesting trivia?
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="answer">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    But how and why?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="answer">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    OK but why does this matter?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="answer">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>