@page
@model RudysCorner.Website.Pages.PointOfInterestModel
@{
    ViewData["Title"] = "PointOfInterest";
}

    <div class="poi row">
        <div class="left-content col-8">
            <div class="flow"></div>
            <h1 class="display-4">Point Of Interest Page</h1>
            <img class="img-main" src="~/img/POIs/vihilbert1.jpg" />
            <div class="description"></div>
        </div>
        <div class="right-content col-4">
            <div class="icon-actions">
                @*Favorite
                Share
                Skip*@
            </div>
            <div class="faq"></div>
            <img class="map" src="~/img/POIs/SU_map_labelled1.png" />
        </div>
    </div>