@page
@model RudysCorner.Website.Pages.PointOfInterestModel
@{
    ViewData["Title"] = "PointOfInterest";
}

<div>
    <h1 class="display-4">Point Of Interest Page</h1>
</div>
<a asp-page="FollowUp"><img src="~/img/poi.jpg" class="img-main"/></a>

