/* Creating a css class for managing the size of images on all pages in the project.*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

div.container {
    margin: auto;
}

.img-main {
    width: 80%;
}﻿

.checked {
    color: orange;
}

.fa-star {
    cursor: pointer;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
    height: 330px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: .8;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

.card-footer {
    background: #fbfafd;
}


a.navbar-brand {
    white-space: normal;
    font-family: 'Nunito', sans-serif;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

.navbar-light a.navbar-brand {
    color: white;
}

.nav-link {
    display: inline-block;
    color: white;
}

.SUlogo {
    margin-right: 30px;
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #252152;
    border-color: #252152;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #e9a8a6;
        border-color: #e9a8a6;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

p {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

ul {
    font-family: 'Nunito', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;
}
/*Backgrounds*/
.bg-navbar {
    background: -webkit-linear-gradient(110deg, #a91500 60%, #000000 60%);
    background: -o-linear-gradient(110deg, #a91500 60%, #000000 60%);
    background: -moz-linear-gradient(110deg, #a91500 60%, #000000 60%);
    background: linear-gradient(110deg, #a91500 60%, #000000 60%);
}

.bg-footer {
    background: -webkit-linear-gradient(110deg, #000000 60%, #a91500 60%);
    background: -o-linear-gradient(110deg, #000000 60%, #a91500 60%);
    background: -moz-linear-gradient(110deg, #000000 60%, #a91500 60%);
    background: linear-gradient(110deg, #000000 60%, #a91500 60%);
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

#div1, #div2 {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.button-wrapper {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.button-wrapper a {
    padding: 16px 32px;
    border: 2px solid #aa0000;
    color: #aa0000;
}

.background-image {
    position: relative;
}

.main-title {
    font-size: 40px;
    z-index: 999;
    color: white;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: rgba(0,0,0,0.5);
    padding: 24px 10%;
}

.main-title span {
    font-size: 80px;
}

/* SM Size */
@media only screen and (max-width: 992px) {
    .main-title {
        font-size: 24px;
    }
    .main-title span {
        font-size: 40px;
    }
}

/* XS Size */
@media only screen and (max-width: 767px) {
    .main-title {
        font-size: 16px;
    }

        .main-title span {
            font-size: 24px;
        }
}

.background-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.background-video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}



.welcome .img-main {
    width: 100%;
}

.welcome .main-content {
    padding: 16px;
}

/*.welcome .left-content {
}

.welcome .side-content {
}*/

.welcome .question {
    font-weight: 700;
}

.welcome h2 {
    font-family: 'Roboto Slab';
    color: #aa0000;
}